/* @import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap'); */

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono/BerkeleyMono-Regular.woff2') format('woff2'),
       url('./fonts/BerkeleyMono/BerkeleyMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono/BerkeleyMono-Bold.woff2') format('woff2'),
       url('./fonts/BerkeleyMono/BerkeleyMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono/BerkeleyMono-Italic.woff2') format('woff2'),
       url('./fonts/BerkeleyMono/BerkeleyMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono/BerkeleyMono-BoldItalic.woff2') format('woff2'),
       url('./fonts/BerkeleyMono/BerkeleyMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

* {
  -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Berkeley Mono', 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

body {
  font-family: 'Berkeley Mono', 'Roboto', sans-serif;
  background-color: #18191A;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Berkeley Mono', 'Roboto', sans-serif;
  background-color: #18191A;
  color: #fff;
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  background-color: #18191A;
  color: #fff;
  border: 1px solid #fff;
}

span, div {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  display: flex;
}

/* Better Links */
a {
  color: #1976d2;
  text-decoration: none;
}

a:visited {
  color: #1976d2;
}

a:hover {
  text-decoration: underline;
}

/* For scroll bar */
::-webkit-scrollbar {
  width: .5rem;
  background: transparent;
}

::-webkit-scrollbar:horizontal {
  height: .5rem;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(217,217,227,.3);
  border-color: rgba(217,217,227,.3);
  border-radius: 10px;
  border-width: 1px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgba(217,217,227,.8);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
